/* index.html */

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}


#menu {
    background-image: url("/static/pictures/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    padding-top: 5vh;
    text-align: center;
}

.container {
    padding-top: 15vh;
    text-align: center;
    height: 100vh;
}

.row {
    text-align: center;
}

.indexForm {
    bottom: 50%;
    position: absolute;
}

button {
    border: none;
    border-radius: 0;
    background-color: unset;
    position: relative;
}

.normal-button {
    border: grey;
    border-radius: 1px;
    background-color: #485F6E;
    color: white;
}

#gameover {
    color: white;
}

/* gamespace.html */

.playSpace {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
    margin: 0 0 0;
}

.text-box {
    margin: auto;
    }

.typing {
    border: 3px solid #696868;
    width: 500px;
    text-align: center;
    align-content: center;
    background-color: #696868;
    color: white;
    outline: none;
    margin-bottom: 15px;
    font-size: 20px;
}

::placeholder {
    color: #cccccc;
}

#battleground {
    margin-top: 0;
    padding-top: 0;
    height: 75vh;
    width: 100%;
    background-size: cover;
}

p{
    display: inline-block;
}
.join {
    margin: 25px 25px 0;
    padding: 5px 10px 0;
    border: 3px solid #696868;
    background-color: #696868;
    display: inline-flex;
    justify-content: space-between;
    column-gap: 20px;
    color: white;
    height: 25px;
    font-size: 20px;
}

.enemy0 {
    left: 30vh;
    bottom: 20vh;
    text-align: center;
    position: fixed;
}

.enemy1 {
    left: 100vh;
    bottom: 20vh;
    text-align: center;
    position: fixed;
}

.enemy2 {
    right: 30vh;
    bottom: 20vh;
    text-align: center;
    position: fixed;
}

#boss {
    left: 100vh;
    bottom: 20vh;
    text-align: center;
    position: fixed;
}

.caption {
    display: block;
    color: white;
    position: absolute;
    border: 3px solid #696868;
    background-color: #696868;
    outline: none;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    font-size: 20px;
}
