#menu {
    background-image: url("/static/pictures/bg.png")
}

h1 {
    padding-top: 5vh;
    text-align: center;
}

.container {
    padding-top: 15vh;
    text-align: center;
    height: 100vh;
}

.row {
    text-align: center;
}

button {
    border: none;
    border-radius: 0;
    background-color: unset;
}
