<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{theme}} - {{level}}</title>
    <meta charset="UTF-8">
    <!-- http://proger.i-forge.net/The_smallest_transparent_pixel/ -->
<!--    <link rel="icon" href="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='game.js') }}"></script>
</head>
<body class="playspace">
    <div class="join">
        <div id="hp">HP: 0</div><br>
        <div id="score">Score: 0</div><br>
    </div>
    <div class="battleground">BATTLEGROUND</div><br>
    <div class="typing box">Typing</div>
</body>
</html>

